@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --highlight: #d68367;
}

svg path:hover {
    fill: var(--highlight);
}

svg path:focus {
    outline: none !important;
}

.custom-tooltip {
    background-color: #272b31 !important;
    border-color: #272b31 !important;
    color: #ebebeb !important;
}

.custom-tooltip::before {
    border-top-color: #272b31 !important;
}

/* Solução universal para todos os navegadores */
html {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #19212e #151b25;
}

/* WebKit e Blink */
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: #151b25;
    border-radius: 50px;
}

html::-webkit-scrollbar-thumb {
    background: #19212e;
    border-radius: 50px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #151b25;
}

.error-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff4444;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    z-index: 1000;
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
